@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(59, 56, 56);
    color: rgb(240, 229, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

h1 {
    font-weight: bolder;
    font-size: 4rem;
    margin:5rem 2rem 2rem 3rem ;
    width: fit-content;
    text-align: center;
}
@media screen and (max-width:525px) {
    h1{
        font-size: 3rem;
    }
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 9rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}
.btn {
    border: none;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #000;
    font-size: 20px;
    background: #f0e5e5;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: bolder;
  }
  input{
    background-color: #f5eeee;
    text-align: center;
    padding: .5rem;
    margin: 1rem;
  }
  input:focus{
    outline: 5px solid #b9b9b9;
  }
  .div-sumit{
    width: fit-content;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }